* {
  font-family: "Fira sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(254, 186, 53),
    rgb(253, 242, 124)
  );
  padding: 100px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 40pt;
}

.input {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.taskInput {
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.addTaskButton {
  color: rgb(254, 186, 53);
  font-weight: 600;
  font-size: 15pt;
  padding: 12px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  width: 70px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.5;
  cursor: pointer;
}

.addTaskButton:hover {
  background-color: rgb(30, 30, 30);
  transform: scale(1.02);
}

.wholeList {
  display: flex;
  margin: auto;
  list-style-type: none;
  width: 50%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
