* {
  font-family: "Fira sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(254, 186, 53),
    rgb(253, 242, 124)
  );
  padding: 100px;
}

h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 40pt;
  color: rgb(30, 30, 30);
}

.input {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.taskInput {
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.addTaskButton {
  color: rgb(254, 186, 53);
  font-weight: 600;
  font-size: 15pt;
  padding: 12px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  width: 70px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.5;
  cursor: pointer;
  border: none;
}

.addTaskButton:hover {
  background-color: rgb(30, 30, 30);
  transform: scale(1.02);
}

ul li {
  list-style-type: none;
  font-size: 16pt;
  font-weight: 600;
  color: rgb(30, 30, 30);
  margin-top: 15px;
  cursor: pointer;
  padding-top: 10px;
  position: relative;
  border-radius: 10px;
}

li {
  margin-left: 30px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.container {
  display: grid;
  justify-content: center;
}

ul li.checked {
  text-decoration: line-through;
  color: rgb(174, 130, 40);
}

/*  added line-hight and text-align (and everything looks nice now) with the help of this source: https://www.youtube.com/watch?v=G0jO8kUrg-I */
ul li span {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 18pt;
  color: rgb(30, 30, 30);
  text-align: center;
  line-height: 40px;
}

ul li span:hover {
  transform: scale(1.15);
  background-color: rgb(254, 186, 53);
  border-radius: 10px;
}
